#message
{
    color:darkgray;
    font-size: 50px;
    font-family:cursive;
    font-feature-settings: normal;

}

.strpara{
    text-decoration: line-through;
}

.ckdiv > p, .ckdiv > INPUT{
    display: inline-block;
    font-size: 20px
}

.ckdiv > BUTTON{
    display: inline-block;
    float: right;
}

.mbtn{
    width: 100px;
    font-size: 16px;
}

.btn-primary.custom-btn0 {
    background-color: white;
    border-color: black;
}

.btn-primary.custom-btn1 {
	background-color: #000;
	border-color: #000;
}

#goblack{
    color: black;
}

.btn-outline-secondary.custom-btn{
    border-color: black;
    border-color: #000;
}

.mbtn > i{
    float: left;
}

.mbtn > p{
    font-size: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type=checkbox] {
  transform: scale(1.5);
}

input[type=checkbox] {
  width: 28px;
  height: 17px;

  margin-right: 18px;
  cursor: pointer;
  font-size: 16px;
  visibility: hidden;
}

input[type=checkbox]:after {
  content: " ";
  background-color: #fff;
  display: inline-block;
  margin-left: 10px;
  padding-bottom: 7px;
  color: #000000;
  width: 20px;
  height: 20px;
  visibility: visible;
  border: 1px solid;
  padding-left: 3px;
  border-radius: 5px;
}

input[type=checkbox]:checked:after {
  content: "\2714";
  padding: -5px;
  font-weight: bold;
}